.searchInputs {
  margin-top: 10px;
  display: block;
}

.search input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 10px;
  padding: 5px;
  height: 20px;
  width: 200px;
}

.searchIcon {
  height: 20px;
  width: 30px;
  border: 0;
  border-radius: 5px;
  background-color: white;
  display: inline-block;
  place-items: center;
}

input:focus {
  outline: none;
}

.searchIcon svg {
  font-size: 10px;
}
